script(src='/assets/js/jquery.min.js')
script(src='/assets/js/bootstrap.bundle.min.js')
script(src='/assets/js/metismenu.min.js')
script(src='/assets/js/jquery.slimscroll.js')
script(src='/assets/js/waves.min.js')
// datepicker
script(src='/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')
script(src='http://malsup.github.com/jquery.form.js')
//Dropzone
script(src='/plugins/dropzone/dist/dropzone.js')
// vector map
script(src='/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js')
script(src='/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
// apexcharts
script(src='/plugins/apexcharts/apexcharts.min.js')
// Peity JS
script(src='/plugins/peity-chart/jquery.peity.min.js')
script(src='/assets/pages/dashboard.js')
//Form Wizard
script(src='/plugins/jquery-steps/jquery.steps.min.js')
//Form Wizard Init
script(src='/assets/pages/form-wizard.init.js')
// App js
script(src='/assets/js/app.js')