meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
// datepicker
link(href='/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
// jvectormap
link(href='/plugins/dropzone/dist/dropzone.css', rel='stylesheet')
// Step 
link(href='/plugins/jquery-steps/jquery.steps.css' rel='stylesheet')

link(href='/plugins/jvectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet')
link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='/assets/css/metismenu.min.css', rel='stylesheet', type='text/css')
link(href='/assets/css/icons.css', rel='stylesheet', type='text/css')
link(href='/assets/css/style.css', rel='stylesheet', type='text/css')