// ========== Left Sidebar Start ==========
.left.side-menu
    #remove-scroll.slimscroll-menu
        // - Sidemenu
        #sidebar-menu
            // Left Menu Start
            ul#side-menu.metismenu
                li.menu-title Menu
                li
                    a.waves-effect(href='/')
                        i.ion.ion-md-speedometer
                        span  Dashboard 
                li
                    a.waves-effect(href='/applicants')
                        i.fa.fa-users
                        span  Applicant List 

       
               
                      
        // Sidebar
        .clearfix
    // Sidebar -left
// Left Sidebar End
