extends layout

block content

  .card
    .card-header
    .card-body
      .row 
        .col-md-6 
          .card.mini-stat.bg-pattern
            .card-body.mini-stat-img
                .mini-stat-icon
                    i.dripicons-broadcast.bg-soft-primary.text-primary.float-right.h4
                h6.text-uppercase.mb-3.mt-0 New Applicant
                h5.mb-3 1,687
                p.text-muted.mb-0
                    span.text-success.mr-2
                        | 12% 
                        i.mdi.mdi-arrow-up
                    |  From previous period

        .col-md-6
            .card.mini-stat.bg-pattern
              .card-body.mini-stat-img
                  .mini-stat-icon
                      i.dripicons-broadcast.bg-soft-primary.text-primary.float-right.h4
                  h6.text-uppercase.mb-3.mt-0 Total Applicant
                  h5.mb-3 1,687
                  p.text-muted.mb-0
                      span.text-success.mr-2
                          | 12% 
                          i.mdi.mdi-arrow-up
                      |  From previous period
