extends layout 

block content 

    .card
        .card-header
            h4 Fillup Form 
        .card-body 
            form#fillupform(action="/applicants/save-fillupform", method="post")
                h3
                    |Seller Details
                fieldset
                    include forms/form_01.pug
                h3
                    |Seller Details
                fieldset
                    include forms/form_02.pug
                h3
                    |Seller Details
                fieldset
                    include forms/form_03.pug
                h3 
                    |Details
                fieldset
                    include forms/form_04.pug