.text-muted
    hr(style='background-color: #0b0b0b')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Company
            input#appcompany1.form-control.waves-float(type='text' required='' placeholder='eg.Actmedicalgroup' name='appcompany1')
        .form-group.col-md-6
            label.text-dark Jobtitle
            input#appjobtitle1.form-control.waves-float(type='text' required='' placeholder='eg.Doctorate Degree Holder' name='appjobtitle1')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Address
            input#appaddress6.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appaddress6')
        .form-group.col-md-3
            label.text-dark From
            input#appfrom4.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appfrom4')
        .form-group.col-md-3
            label.text-dark To
            input#appto4.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appto4')
    .form-row.col-md-12
        .form-group.col-md-5
            label.text-dark Company Phone
            input#appcompanyphone1.form-control.waves-float(type='text' required='' name='appcompanyphone1')
        .form-group.col-sm-4
            label.text-dark Supervisor Name
            input#appcompanysupervisor1.form-control.waves-float(type='text' required='' name='appcompanysupervisor1')
        .form-group.col-sm-3
            label.text-dark May we contact your previous supervisor for a reference?
            br
            .custom-control.custom-radio.custom-control-inline
                input#referoption1.custom-control-input(type='radio' name='referoption1')
                label.custom-control-label(for='referoption1') Yes
            .custom-control.custom-radio.custom-control-inline
                input#referoption2.custom-control-input(type='radio' name='referoption2')
                label.custom-control-label(for='referoption2') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Reason For Leaving
            textarea#appreasonforleave1.form-control.waves-float(maxlength='225' rows='3' placeholder='Please State Here Why ?' name='appreasonforleave1')
    hr(style='background-color: #0b0b0b')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Company
            input#appcompany2.form-control.waves-float(type='text' required='' placeholder='eg.Actmedicalgroup' name='appcompany2')
        .form-group.col-md-6
            label.text-dark Jobtitle
            input#appjobtitle2.form-control.waves-float(type='text' required='' placeholder='eg.Doctorate Degree Holder' name='appjobtitle2')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Address
            input#appaddress7.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appaddress7')
        .form-group.col-md-3
            label.text-dark From
            input#appfrom5.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appfrom5')
        .form-group.col-md-3
            label.text-dark To
            input#appto5.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appto5')
    .form-row.col-md-12
        .form-group.col-md-5
            label.text-dark Company Phone
            input#appcompanyphone2.form-control.waves-float(type='text' required='' name='appcompanyphone2')
        .form-group.col-sm-4
            label.text-dark Supervisor
            input#appsupervisor2.form-control.waves-float(type='date' required='' name='appsupervisor2')
        .form-group.col-sm-3
            label.text-dark May we contact your previous supervisor for a reference?
            br
            .custom-control.custom-radio.custom-control-inline
                input#referoption3.custom-control-input(type='radio' name='referoption3')
                label.custom-control-label(for='referoption3') Yes
            .custom-control.custom-radio.custom-control-inline
                input#referoption4.custom-control-input(type='radio' name='referoption4')
                label.custom-control-label(for='referoption4') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Reason For Leaving
            textarea#appreasonforleave2.form-control.waves-float(maxlength='225' rows='3' placeholder='Please State Here Why ?' name='appreasonforleave2')
    hr(style='background-color: #0b0b0b')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Company
            input#appcompany3.form-control.waves-float(type='text' required='' placeholder='eg.Actmedicalgroup' name='appcompany3')
        .form-group.col-md-6
            label.text-dark Jobtitle
            input#appjobtitle3.form-control.waves-float(type='text' required='' placeholder='eg.Doctorate Degree Holder' name='appjobtitle3')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Address
            input#appaddress8.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appaddress8')
        .form-group.col-md-3
            label.text-dark From
            input#appfrom6.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appfrom6')
        .form-group.col-md-3
            label.text-dark To
            input#appto6.form-control.waves-float(type='date' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appto6')
    .form-row.col-md-12
        .form-group.col-md-5
            label.text-dark Company Phone
            input#appcompany4.form-control.waves-float(type='text' required='' name='appcompany4')
        .form-group.col-sm-4
            label.text-dark Supervisor
            input#appsupervisor4.form-control.waves-float(type='date' required='' name='appsupervisor4')
        .form-group.col-sm-3
            label.text-dark May we contact your previous supervisor for a reference?
            br
            .custom-control.custom-radio.custom-control-inline
                input#referoption5.custom-control-input(type='radio' name='referoption5')
                label.custom-control-label(for='referoption5') Yes
            .custom-control.custom-radio.custom-control-inline
                input#referoption6.custom-control-input(type='radio' name='referoption6')
                label.custom-control-label(for='referoption6') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Reason For Leaving
            textarea#appreasonforleave3.form-control.waves-float(maxlength='225' rows='3' placeholder='Please State Here Why ?' name='appreasonforleave3')
    hr(style='background-color: #0b0b0b')
    // Referral Section
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Please list two professional references.
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Fullname
            input#refferfullname.form-control.waves-float(type='text' required='' placeholder='eg.Juan Dela Cruz' name='refferfullname')
        .form-group.col-md-6
            label.text-dark Relationship
            input#refferrelationship.form-control.waves-float(type='text' required='' placeholder='eg.Hr Manager' name='refferrelationship')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Company Name
            input#reffercompanyname.form-control.waves-float(type='text' required='' placeholder='eg.Actmedicalgroup' name='reffercompanyname')
        .form-group.col-md-6
            label.text-dark Company Phone
            input#reffercompanyphone.form-control.waves-float(type='text' required='' placeholder='eg.818-924-325' name='reffercompanyphone')
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Address
            textarea#refferaddress.form-control.waves-float(maxlength='225' rows='3' placeholder='' name='refferaddress')
    hr(style='background-color: #0b0b0b')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Fullname
            input#refferfullname1.form-control.waves-float(type='text' required='' placeholder='eg.Juan Dela Cruz' name='refferfullname1')
        .form-group.col-md-6
            label.text-dark Relationship
            input#refferrelationship1.form-control.waves-float(type='text' required='' placeholder='eg.Hr Manager' name='refferrelationship1')
    .form-row.col-md-12
        .form-group.col-md-6
            label.text-dark Company Name
            input#reffercompanyname1.form-control.waves-float(type='text' required='' placeholder='eg.Actmedicalgroup' name='reffercompanyname1')
        .form-group.col-md-6
            label.text-dark Company Phone
            input#reffercompanyphone1.form-control.waves-float(type='text' required='' placeholder='eg.818-924-325' name='reffercompanyphone1')
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark Address
            textarea#refferaddress1.form-control.waves-float(maxlength='225' rows='3' placeholder='' name='refferaddress1')
    .form-row.col-md-12
        .form-group.col-md-12
        