hr(style='background-color: #0b0b0b')
.row
    .form-row.col-md-12
        .form-group.col-md-12
            h6.text-dark.mb-4
                | 1. Are you aware of any malpractice  claims which have been made or may be made against you? For the purposes of his question, claims shall include but not be limited to the filing of a Summons and Complaint, demand letters by patients or attorneys, request for mediation or receipt of letters of intent to file suit.
            .custom-control.custom-radio.custom-control-inline
                input#q3.custom-control-input(type='radio' name='question1')
                label.custom-control-label.text-dark(for='q3') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q4.custom-control-input(type='radio' name='question1')
                label.custom-control-label.text-dark(for='q4') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | 2. Have you ever been denied a license or had your license limited, suspended, denied or revoked in any state?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q5.custom-control-input(type='radio' name='question2')
                label.custom-control-label.text-dark(for='q5') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q6.custom-control-input(type='radio' name='question2')
                label.custom-control-label.text-dark(for='q6') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | 3. Have you ever been involved in any other activity that would create doubt about your ability or right to practice ?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q7.custom-control-input(type='radio' name='question3')
                label.custom-control-label.text-dark(for='q7') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q8.custom-control-input(type='radio' name='question3')
                label.custom-control-label.text-dark(for='q8') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | 4. Have you ever had your Drug Enforcement Administration Certificate or prescribing privileges limited, suspended or revoked by any date or federal agency ?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q9.custom-control-input(type='radio' name='question4')
                label.custom-control-label.text-dark(for='q9') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q10.custom-control-input(type='radio' name='question4')
                label.custom-control-label.text-dark(for='q10') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | 5. DISHONORABLE SEPERATIONS FROM MILITARY SERVICE within the past 5 years, were you seperated from military service under conditions other than honorable ?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q11.custom-control-input(type='radio' name='question5')
                label.custom-control-label.text-dark(for='q11') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q12.custom-control-input(type='radio' name='question5')
                label.custom-control-label.text-dark(for='q12') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | 6. HAVE YOU BEEN THE SUBJECT OF ANY ADVERSE ACTION(S) BY ANY PROFESSIONAL OR VOCATIONAL LICENSING ORGANIZATION(S) ?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q13.custom-control-input(type='radio' name='question6')
                label.custom-control-label.text-dark(for='q13') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q14.custom-control-input(type='radio' name='question6')
                label.custom-control-label.text-dark(for='q14') No
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark
                | IF YOU ANSWERED &quot;YES,&quot; TO ANY OF THE ABOVE, PLEASE PROVIDE EXPLANATION, INCLUDING DATE AND CIRCUMSTANCES SURROUNDING THE INCIDENT UNDERLYING THE ADVERSE ACTION.
            br
            textarea#qtext1.form-control.waves-float(maxlength='225' rows='3' placeholder='Please State Here Why ?')
hr(style='background-color: #0b0b0b')
.row
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark VETERAN&apos;S PREFERENCE: Do you claim veteran&apos;s preference ?
            br
            .custom-control.custom-radio.custom-control-inline
                input#q15.custom-control-input(type='radio' name='question7')
                label.custom-control-label.text-dark(for='q15') Yes
            .custom-control.custom-radio.custom-control-inline
                input#q16.custom-control-input(type='radio' name='question7')
                label.custom-control-label.text-dark(for='q16') No
    .form-row.col-md-12
        .form-group.col-md-12
            h6.text-dark
                | To receive veteran&apos;s preference, you must submit a copy of your DD-214 or honorable discharge certificate, showing dates of honorable service with this application or an official statement from the Veterans Administration or armed service dated within the past 12 months which confirms service connected disability, spouses or windows must also submit evidence of marriage, and as a applicable, veterans&apos;s death.
.row
    .form-row.col-md-12
        .form-group.col-md-12
            label.text-dark  CERTIFICATION (Please read carefully before signing)
            br
    .form-row.col-md-12
        .form-group.col-md-12
            p.text-dark
                | A. I certify that all statements made on this application for employment are true and complete to the best of my knowledge. I understand and agree that any mispresentation or omission whenever discovered, is ground for the denial of or immediate separation from employment. Providing my SSN is voluntary and to be used only for employment purposes.
            p.text-dark
                | B. I consent to and authorize Act Medical Group to communicate with all my former employers, school officials, government agencies, and persons named as references, and to make any investigation of my employment history. In consideration for Act Medical Group review of this application, I release Act Medical Group and any other person or company responding to any offer of employment is subject to
                | satisfactory references. In consideration for employment, I further authorize Act Medical Group to disclose information about my job performance with Act Medical Group to any prospective employer upon request of that prospective employer. I specifically waive any claims agains Act Medical Group for such disclosure was not otherwise privileged.
            p.text-dark
                | C. I consent and authorize Act Medical Group to conduct State and Federal criminal history record checks according to the equal Employment Opportunity Commissions after conditional offer of employment guidance and regulations.
            p.text-dark
                | D. I understand that if I am offered employment, I will be required to submit proof of U.S. citizenship or immigration documentation establishing authorization to work in the United States.
            p.text-dark
                | E. I understand and agree that if I work with Act Medical Group, all of the foregoing terms are continuing conditions of my employment with the Act Medical Group.
            br
    .form-row.col-md-12
        .form-group.col-md-12
            