.text-muted
  hr(style='background-color: #0b0b0b')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Name Of School
      input#appnameschool1.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appnameschool1')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Address
      input#appaddress3.form-control.waves-float(type='text' required='' placeholder='eg.95222. Turlock, California(CA)' name='appaddress3')
  .form-row.col-md-12
    .form-group.col-md-4
      label.text-dark From
      input#from1.form-control.waves-float(type='date' required='' name='from1')
    .form-group.col-md-4
      label.text-dark To
      input#to1.form-control.waves-float.floating-label(type='date' required='' name='to1')
    .form-group.col-md-4
      label.text-dark Degree/Diploma/Cert
      input#appdegree1.form-control.waves-float(type='text' required='' placeholder='eg.Doctoral degree' name='appdegree1')
  hr(style='background-color: #0b0b0b')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Name Of School
      input#appnameschool2.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appnameschool2')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Address
      input#appaddress4.form-control.waves-float(type='text' required='' placeholder='eg.95222. Turlock, California(CA)' name='appaddress4')
  .form-row.col-md-12
    .form-group.col-md-4
      label.text-dark From
      input#from2.form-control.waves-float.floating-label(type='date' required='' name='from2')
    .form-group.col-md-4
      label.text-dark To
      input#to2.form-control.waves-float.floating-label(type='date' required='' name='to2')
    .form-group.col-md-4
      label.text-dark Degree/Diploma/Cert
      input#appdegree2.form-control.waves-float(type='text' required='' placeholder='eg.Doctoral degree' name='appdegree2')
  hr(style='background-color: #0b0b0b')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Name Of School
      input#appnameschool3.form-control.waves-float(type='text' required='' placeholder='eg.Whitney High School. 16800 Shoemaker Ave., Cerritos, California 90703.' name='appnameschool3')
  .form-row.col-md-12
    .form-group.col-md-12
      label.text-dark Address
      input#appaddress5.form-control.waves-float(type='text' required='' placeholder='eg.95222. Turlock, California(CA)' name='appaddress5')
  .form-row.col-md-12
    .form-group.col-md-4
      label.text-dark From
      input#from3.form-control.waves-float.floating-label(type='date' required='' name='from3')
    .form-group.col-md-4
      label.text-dark To
      input#to3.form-control.waves-float.floating-label(type='date' required='' name='to3')
    .form-group.col-md-4
      label.text-dark Degree/Diploma/Cert
      input#appdegree3.form-control.waves-float(type='text' required='' placeholder='eg.Doctoral degree' name='appdegree3')